<li>
	<h2 id="partial-name">{{bucketItem_name}}</h2>

	<button type="button" class="change-complete btn btn-success" data-id="{{id}}" data-newcomplete="{{complete}}">
		{{#if complete}}COMPLETE{{else}}TODO{{/if}}
	</button>

	<button type="button" class="delete-bucketItem btn btn-dark" data-id="{{this.id}}">DELETE!</button>
</li>
<br>